body {
    background: #9266ff;
  }
  
  .App {
    background: #3f3160;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
  }
  
  .App form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .App header{
    height: 100%;
    display: flex;
  }
  
  .App input {
    background: none;
    border: 1px solid #CDA3FF;
    padding: 5px;
    border-radius: 1rem;
    color: #dcdcdc;
  }
  
  .App input:focus, .App button:focus {
    outline: none;
  }
  
  .App button {
    background: none;
    border: 1px solid #CDA3FF;
    padding: 5px;
    border-radius: 1rem;
    color: #fff;
    width: 50px;
    margin-left: 10px;
  }
  
  .App input::placeholder {
    color: #dcdcdc;
  }